
Terraform/.terraform.lock.hcl
Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
Terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.2.0/windows_amd64/terraform-provider-random_v3.2.0_x5.exe
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.8.0/windows_amd64/terraform-provider-azurerm_v3.8.0_x5.exe
Terraform/Terraform.1.0.0.zip
Bicep/Bicep.1.0.0.zip
